<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заявки</title>
    <link rel="stylesheet" href="/static/css/applications.css">
</head>
<body>
<div class="admin-container">
    <h2>{{ title_h1 }}</h2>
    {% if access and applications %}
    <table>
        <thead>
        <tr>
            {% if is_admin %}
            <th>Имя</th>
            <th>Номер телефона</th>
            {% endif %}
            <th>Город</th>
            <th>Тип заявки</th>
            <th style="width:33%" >Текст заявки</th>
        </tr>
        </thead>
        <tbody id="applicationsTableBody">
        {% for application in applications %}
        <tr>
            {% if is_admin %}
            <td>{{ application.client_name }}</td>
            <td>{{ application.contact }}</td>
            {% endif %}
            <td>{{ application.city_name }}</td>
            <td>{{ application.application_type.value }}</td>
            <td>{{ application.application_text }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p style="text-align: center;">{{ message }}</p>
    {% endif %}
</div>
<script src="/static/js/applications.js"></script>
<script src="https://telegram.org/js/telegram-web-app.js"></script>
</body>
</html>