<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма заявки</title>
    <link rel="stylesheet" href="/static/css/form.css">
</head>
<body>
<div class="form-container">
    <h2>Оставить заявку</h2>
    <form id="applicationForm">
        <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" value="{{ name }}" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="phone">Номер телефона</label>
            <input type="text"
                   value="{{ phone_number }}"
                   id="phone"
                   placeholder="+79999999999"
                   pattern="^\7\d{3}\d{3}\d{2}\d{2}$"
                   maxlength="12"
                   name="contact"
                   required>
        </div>
        <div class="form-group">
            <label for="city">Город</label>
            <select id="city" name="city" required>
                <option value="" disabled selected>Выберите город</option>
                {% for city in cities %}
                <option value="{{city.id}}_{{city.name}}">{{ city.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="applicationType">Тип заявки</label>
            <select id="applicationType" name="application_type" required>
                <option value="" disabled selected>Выберите тип заявки</option>
                <option value="rent/Снять">Снять</option>
                <option value="buy/Приобрести">Приобрести</option>
                <option value="rent_out/Сдать">Сдать</option>
                <option value="sell/Продать">Продать</option>
            </select>
        </div>
        <div class="form-group">
            <label for="applicationText">Текст заявки</label>
            <textarea id="applicationText" name="application_text"></textarea>
        </div>
        <input type="hidden" id="user_id" value="{{ user_id }}">
        <button type="submit"> Далее </button>
    </form>
</div>
<div class="popup" id="successPopup">
    <div class="popup-content">
        <p>Спасибо! В скором времени с вами свяжется наш сотрудник.</p>
        <button id="closePopup">Закрыть</button>
    </div>
</div>
<script src="/static/js/form.js"></script>
<script src="https://telegram.org/js/telegram-web-app.js"></script>
</body>
</html>