<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Риелторское агентство</title>
    <link rel="stylesheet" href="static/css/index-style.css">
</head>
<body>
<div class="info-container">
    <div class="header-container">
        <h1>Риелторское агентство</h1>
        <div class="background-image"></div>
    </div>
    <div class="text-container">
        <p>Добро пожаловать в наше риелторское агентство! Мы команда профессионалов, готовых помочь вам в любых
            вопросах, связанных с недвижимостью. Наш опыт и знания рынка недвижимости позволяют нам находить лучшие
            решения для каждого клиента, будь то покупка, продажа, аренда или сдача в аренду недвижимости.</p>
        <p>Мы ценим ваше время и стремимся сделать процесс сделки максимально комфортным и прозрачным. Обращаясь к нам,
            вы получаете не только качественные услуги, но и надежного партнера, готового сопровождать вас на каждом
            этапе.</p>
    </div>
    <div class="button-container">
        <button id="send-application-button">Оставить заявку</button>
    </div>
</div>
<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script src="/static/js/index.js"></script>
</body>
</html>